config.json
log
__pycache__
config.ini
Autocentro.lnk
Balcão de Peças.lnk
Clink.lnk
Contabilidade.lnk
Contas a Pagar.lnk
Contas a Receber.lnk
Controle Bancário.lnk
Emissor de Cupom Fiscal.lnk
Escrita Fiscal.lnk
Estoque de Peças.lnk
Fast Service.lnk
Integração com a Fábrica.lnk
Integração Contábil.lnk
Oficina.lnk
Segurança do Sistema.lnk
Sincronizador de Versões.lnk
Utilitários do Sistema.lnk
Veículos.lnk