config.json
log
__pycache__
config.ini
Autocentro.lnk
"Balc\303\243o de Pe\303\247as.lnk"
Clink.lnk
Contabilidade.lnk
Contas a Pagar.lnk
Contas a Receber.lnk
"Controle Banc\303\241rio.lnk"
Emissor de Cupom Fiscal.lnk
Escrita Fiscal.lnk
"Estoque de Pe\303\247as.lnk"
Fast Service.lnk
"Integra\303\247\303\243o Cont\303\241bil.lnk"
"Integra\303\247\303\243o com a F\303\241brica.lnk"
Oficina.lnk
"Seguran\303\247a do Sistema.lnk"
"Sincronizador de Vers\303\265es.lnk"
"Utilit\303\241rios do Sistema.lnk"
"Ve\303\255culos.lnk"